<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dianping_admin.mapper.TbBlogMapper">
    
    <resultMap type="TbBlog" id="TbBlogResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="userId"    column="user_id"    />
        <result property="title"    column="title"    />
        <result property="images"    column="images"    />
        <result property="content"    column="content"    />
        <result property="liked"    column="liked"    />
        <result property="comments"    column="comments"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isRead"    column="isRead"    />
    </resultMap>

    <sql id="selectTbBlogVo">
        select id, shop_id, user_id, title, images, content, liked, comments, create_time, update_time, isRead from tb_blog
    </sql>

    <select id="selectTbBlogList" parameterType="TbBlog" resultMap="TbBlogResult">
        <include refid="selectTbBlogVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="liked != null "> and liked &gt;= #{liked}</if>
            <if test="comments != null "> and comments &lt;= #{comments}</if>
        </where>
    </select>
    
    <select id="selectTbBlogById" parameterType="Long" resultMap="TbBlogResult">
        <include refid="selectTbBlogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbBlog" parameterType="TbBlog" useGeneratedKeys="true" keyProperty="id">
        insert into tb_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="images != null">images,</if>
            <if test="content != null">content,</if>
            <if test="liked != null">liked,</if>
            <if test="comments != null">comments,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isRead != null">isRead,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="title != null">#{title},</if>
            <if test="images != null">#{images},</if>
            <if test="content != null">#{content},</if>
            <if test="liked != null">#{liked},</if>
            <if test="comments != null">#{comments},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isRead != null">#{isRead},</if>
         </trim>
    </insert>

    <update id="updateTbBlog" parameterType="TbBlog">
        update tb_blog
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="images != null">images = #{images},</if>
            <if test="content != null">content = #{content},</if>
            <if test="liked != null">liked = #{liked},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isRead != null">isRead = #{isRead},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbBlogById" parameterType="Long">
        delete from tb_blog where id = #{id}
    </delete>

    <delete id="deleteTbBlogByIds" parameterType="String">
        delete from tb_blog where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>