

.input-box{
    display: flex;
    width: 35%;
}
.input-box input {
    border: 1px solid #F80;
    width: 80%;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    border-radius: .25rem 0 0 .25rem;
}



#complete-box{
    margin-top: 28px;
    position: absolute;
    z-index: 99;
    text-align: left;
    border: 1px solid #f1f1f2;
    width: 336px;
    height: 120px;
    background-color: #fff;
    color: #3a8ee6;

}
#complete-box div{
    padding-left: 7px;
}

.amap {
    width: 400px;
    height: 550px;
}